<a class="btn btn-primary crearAviso" data-bs-toggle="modal" href="#CrearAvisoModal" role="button" style="justify-content: right;">Crear Nuevo aviso</a>

<div class="modal fade" id="CrearAvisoModal" data-backdrop="" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Elige el tipo de aviso</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
        </div>
        <div class="modal-body">
            <div class=row >
                <div class="col-4">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalSugerencia" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false">Sugerencia</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalIncidencia" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false">Incidencia</button>
                </div>
                <div class="col-4">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalFelicitacion" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false">Felicitación</button>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>


  <div class="modal fade" id="ModalIncidencia" tabindex="-1" aria-labelledby="ModalIncidenciaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalIncidenciaLabel">Nueva Incidencia</h1>
          <button id="ModalIncidenciaClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
        </div>
        <div class="modal-body">
          <form action="/crearAviso" name="crarAviso" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="tipo" value="incidencia" />
            <div class="row">
              <select id="CategoriaInc" name="categoria" size="1">
                <option value="" selected="selected">-- Seleccionar Categoría --</option>
              </select>
              <select id="SubcategoriaInc" name="subcategoria" size="1">
                <option value="" selected="selected">-- Seleccionar Subategoría --</option>
              </select>            
            </div>
            <div class="mb-3">
              <label for="message-text-inc" class="col-form-label">Observaciones:</label>
              <textarea class="form-control" id="message-text-inc" name="observaciones"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Crear Sugerencia</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalSugerencia" tabindex="-1" aria-labelledby="ModalSugerenciaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalSugerenciaLabel">Nueva Sugerencia</h1>
          <button id="ModalSugerenciaClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
        </div>
        <div class="modal-body">
          <form action="/crearAviso" name="crarAviso" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="tipo" value="sugerencia" />
            <div class="row">
              <select id="CategoriaSug" name="categoria" size="1">
                <option value="" selected="selected">-- Seleccionar Categoría --</option>
              </select>
              <select id="SubcategoriaSug" name="subcategoria" size="1">
                <option value="" selected="selected">-- Seleccionar Subategoría --</option>
              </select>            
            </div>
            <div class="mb-3">
              <label for="message-text-sug" class="col-form-label">Observaciones:</label>
              <textarea class="form-control" id="message-text-sug" name="observaciones"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Crear Sugerencia</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalFelicitacion" tabindex="-1" aria-labelledby="ModalFelicitacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ModalFelicitacionLabel">Nueva felicitación</h1>
          <button id="ModalFelicitacionClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-backdrop="false"></button>
        </div>
        <div class="modal-body">
          <form action="/crearAviso" name="crarAviso" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="tipo" value="felicitacion" />
            <div class="mb-3">
              <select id="CategoriaFel" name="categoria" size="1">
                <option value="" selected="selected">-- Seleccionar Categoría --</option>
              </select>
              <input type="hidden" name="subcategoria" value="NULL" />
            </div>
            <div class="mb-3">
              <label for="message-text-fel" class="col-form-label">Observaciones:</label>
              <textarea class="form-control" id="message-text-fel" name="observaciones"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Felicitación</button>
          </form>
        </div>
      </div>
    </div>
  </div>

