            <header>
                <div id="cabecera">
                        <div id="logo">
                            <img src="\img\icons\escudo-UCM.png" />
                        </div>
                        <div id="title">
                            <div id="title_text">UCM-CAU</div>
                            <div id="subtitle_text">Centro de Atención al Usuario</div>
                        </div>
                        <div id="session">
                                <div id="user_avatar">
                                    <img src="<%= imageURL %>" />
                                </div>
                                <div id="session_menu">
                                    <span id="user_name"><%= name %></span>
                                    <a id="logout_btn" href="">Desconectar</a>
                                </div>
                            </div>
                        <div>
                    </div>
                </div>
            </header>